openapi: 3.0.3
info:
  title: 'StockBeat API Documentation'
  description: 'Token-authenticated REST API consumed by the StockBeat mobile app (React Native).'
  version: 1.0.0
servers:
  - url: 'https://stockbeat.ddev.site'
tags:
  - name: 'AI Assistant'
    description: "\nData Copilot + natural-language Rule Builder (Plan §4.12). Every answer\nis grounded in real tool-call results over the team's own data\n(`AssistantToolRegistry`) — never a raw guess."
  - name: Account
    description: "\nGDPR-related self-service actions."
  - name: Analytics
    description: "\nAnalytics-lite (Plan §4.6): today/7d/30d revenue + order count + AOV, gated by plan\n(`analytics_level`: Free=today only, Starter=+7d, Pro/Premium=full with comparison + goal\ntracking). \"Today\" is always computed live, never from the `daily_stats` pre-aggregation."
  - name: Announcements
    description: ''
  - name: 'Auth — OTP'
    description: "\nPasswordless sign-in: request a one-time code by email, then verify it for a bearer token."
  - name: 'Auth — Profile'
    description: ''
  - name: 'Auth — Session'
    description: ''
  - name: Config
    description: "\nRemote app config (Plan §10/§17.7) — deliberately unauthenticated so a\nkilled app version or a maintenance banner can be checked before the\nuser has signed in."
  - name: Connections
    description: "\nConnect and manage storefront platforms (Shopify, WooCommerce, eBay, Etsy, Amazon, TikTok Shop).\nOnly WooCommerce is fully live end-to-end today — the others accept a connection\nrecord but adapter operations are not yet available."
  - name: Devices
    description: ''
  - name: Inbox
    description: "\nUnified customer inbox (Plan §4.5). `sendMessage` (in `SendInboxMessageAction`)\nroutes per-thread by channel: Shopify/Woo via order-linked email, eBay via\nreal Trading API member messages, Etsy the same way but gated behind its\nown conversations-API approval, Amazon out of scope until that adapter's\nbuilt."
  - name: Me
    description: ''
  - name: Notifications
    description: ''
  - name: Orders
    description: "\nThe unified order feed across all connected channels, plus quick actions\n(fulfill/tracking, refund, cancel, notes/tags, packing slip)."
  - name: Products
    description: "\nPolled product/stock snapshots (Plan §4.4's `low_stock` trigger) — not a\ncatalog management feature. The only seller-editable field is\n`cost_price` (Plan §4.12 Phase B), since no platform API exposes true\ncost-of-goods."
  - name: Rules
    description: "\nCustom notification rules: trigger + condition tree + actions, with quiet hours, cooldown,\nand an execution log. See Plan §4.4 for the full trigger catalogue (12 triggers, e.g.\n`new_order`, `unfulfilled_after_x`, `order_spike`, `low_stock`, `digest`)."
  - name: Settings
    description: ''
  - name: Support
    description: "\nLive support chat (Plan §4.9). One thread per user, resumed across visits —\nnever a fresh thread. Internal staff notes (`direction=note`) are never\nreturned here."
  - name: Team
    description: "\nTeam seats and roles (owner/manager/staff), with per-member `store_visibility` restriction."
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Obtain a token via `POST /auth/otp/request` then `POST /auth/otp/verify` (Laravel Sanctum bearer token).'
security:
  -
    default: []
paths:
  /api/v1/assistant/ask:
    post:
      summary: 'Ask the assistant a question.'
      operationId: askTheAssistantAQuestion
      description: ''
      parameters: []
      responses:
        422:
          description: 'quota exhausted'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: "You've used all 30 AI questions included in your plan this month. Upgrade or wait for next month's reset."
                  errors:
                    question:
                      - "You've used all 30 AI questions included in your plan this month. Upgrade or wait for next month's reset."
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "You've used all 30 AI questions included in your plan this month. Upgrade or wait for next month's reset."
                  errors:
                    type: object
                    properties:
                      question:
                        type: array
                        example:
                          - "You've used all 30 AI questions included in your plan this month. Upgrade or wait for next month's reset."
                        items:
                          type: string
      tags:
        - 'AI Assistant'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  description: 'Must not be greater than 1000 characters.'
                  example: b
                conversation_id:
                  type: integer
                  description: 'Must match an existing stored value.'
                  example: 16
                  nullable: true
                mode:
                  type: string
                  description: ''
                  example: help
                  enum:
                    - data
                    - help
              required:
                - question
  /api/v1/assistant/conversations:
    get:
      summary: "List this team's AI Assistant conversations, most recent first."
      operationId: listThisTeamsAIAssistantConversationsMostRecentFirst
      description: ''
      parameters: []
      responses: {}
      tags:
        - 'AI Assistant'
  '/api/v1/assistant/conversations/{id}':
    get:
      summary: "Show one conversation's full message history."
      operationId: showOneConversationsFullMessageHistory
      description: ''
      parameters: []
      responses: {}
      tags:
        - 'AI Assistant'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the conversation.'
        example: 16
        required: true
        schema:
          type: integer
  /api/v1/assistant/rule-draft:
    post:
      summary: 'Generate a structured rule draft from a plain-English prompt (Pro+).'
      operationId: generateAStructuredRuleDraftFromAPlainEnglishPromptPro+
      description: "Never persists — the client must POST the returned draft to\n`POST /rules` after the seller confirms it."
      parameters: []
      responses: {}
      tags:
        - 'AI Assistant'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: 'Must not be greater than 500 characters.'
                  example: b
              required:
                - prompt
  /api/v1/account/data-export:
    post:
      summary: 'Request a data export.'
      operationId: requestADataExport
      description: 'Queues a GDPR data export; the user receives it by email.'
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: "We're preparing your data export — you'll receive it by email shortly."
                  data: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "We're preparing your data export — you'll receive it by email shortly."
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Account
  /api/v1/account/delete-request:
    post:
      summary: 'Request account deletion.'
      operationId: requestAccountDeletion
      description: 'Schedules a GDPR soft-delete; the account is retained for a grace period before purge.'
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Your account has been scheduled for deletion.'
                  data: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Your account has been scheduled for deletion.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Account
  /api/v1/analytics/summary:
    get:
      summary: 'Get the analytics summary.'
      operationId: getTheAnalyticsSummary
      description: '`comparison` and `goal` are only present at the `full` analytics level (Pro/Premium).'
      parameters:
        -
          in: query
          name: range
          description: 'One of `today`, `7d`, `30d`.'
          example: 7d
          required: true
          schema:
            type: string
            description: 'One of `today`, `7d`, `30d`.'
            example: 7d
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'full (Pro/Premium)'
                    type: object
                    example:
                      success: true
                      message: null
                      data:
                        range: 7d
                        total:
                          revenue: 1840.0
                          revenue_base: 1840.0
                          orders_count: 23
                          aov: 80.0
                        by_channel:
                          -
                            connection_id: 1
                            platform: woo
                            name: 'Rivera Vintage Co'
                            revenue: 1840.0
                            revenue_base: 1840.0
                            orders_count: 23
                            aov: 80.0
                        comparison:
                          previous_period_revenue: 1500.0
                          change_pct: 22.7
                        goal:
                          current_month_revenue: 4200.0
                          best_month_revenue: 6100.0
                          pct_of_best_month: 68.9
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: null
                        nullable: true
                      data:
                        type: object
                        properties:
                          range:
                            type: string
                            example: 7d
                          total:
                            type: object
                            properties:
                              revenue:
                                type: number
                                example: 1840.0
                              revenue_base:
                                type: number
                                example: 1840.0
                              orders_count:
                                type: integer
                                example: 23
                              aov:
                                type: number
                                example: 80.0
                          by_channel:
                            type: array
                            example:
                              - connection_id: 1
                                platform: woo
                                name: 'Rivera Vintage Co'
                                revenue: 1840
                                revenue_base: 1840
                                orders_count: 23
                                aov: 80
                            items:
                              type: object
                              properties:
                                connection_id:
                                  type: integer
                                  example: 1
                                platform:
                                  type: string
                                  example: woo
                                name:
                                  type: string
                                  example: 'Rivera Vintage Co'
                                revenue:
                                  type: number
                                  example: 1840.0
                                revenue_base:
                                  type: number
                                  example: 1840.0
                                orders_count:
                                  type: integer
                                  example: 23
                                aov:
                                  type: number
                                  example: 80.0
                          comparison:
                            type: object
                            properties:
                              previous_period_revenue:
                                type: number
                                example: 1500.0
                              change_pct:
                                type: number
                                example: 22.7
                          goal:
                            type: object
                            properties:
                              current_month_revenue:
                                type: number
                                example: 4200.0
                              best_month_revenue:
                                type: number
                                example: 6100.0
                              pct_of_best_month:
                                type: number
                                example: 68.9
                  -
                    description: 'today only (Free)'
                    type: object
                    example:
                      success: true
                      message: null
                      data:
                        range: today
                        total:
                          revenue: 240.0
                          revenue_base: 240.0
                          orders_count: 3
                          aov: 80.0
                        by_channel:
                          -
                            connection_id: 1
                            platform: woo
                            name: 'Rivera Vintage Co'
                            revenue: 240.0
                            revenue_base: 240.0
                            orders_count: 3
                            aov: 80.0
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: null
                        nullable: true
                      data:
                        type: object
                        properties:
                          range:
                            type: string
                            example: today
                          total:
                            type: object
                            properties:
                              revenue:
                                type: number
                                example: 240.0
                              revenue_base:
                                type: number
                                example: 240.0
                              orders_count:
                                type: integer
                                example: 3
                              aov:
                                type: number
                                example: 80.0
                          by_channel:
                            type: array
                            example:
                              - connection_id: 1
                                platform: woo
                                name: 'Rivera Vintage Co'
                                revenue: 240
                                revenue_base: 240
                                orders_count: 3
                                aov: 80
                            items:
                              type: object
                              properties:
                                connection_id:
                                  type: integer
                                  example: 1
                                platform:
                                  type: string
                                  example: woo
                                name:
                                  type: string
                                  example: 'Rivera Vintage Co'
                                revenue:
                                  type: number
                                  example: 240.0
                                revenue_base:
                                  type: number
                                  example: 240.0
                                orders_count:
                                  type: integer
                                  example: 3
                                aov:
                                  type: number
                                  example: 80.0
        422:
          description: 'range not allowed on this plan'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'The given data was invalid.'
                  errors:
                    range:
                      - 'Upgrade your plan for more analytics history.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'The given data was invalid.'
                  errors:
                    type: object
                    properties:
                      range:
                        type: array
                        example:
                          - 'Upgrade your plan for more analytics history.'
                        items:
                          type: string
      tags:
        - Analytics
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                range:
                  type: string
                  description: ''
                  example: today
                  enum:
                    - today
                    - 7d
                    - 30d
  /api/v1/analytics/products:
    get:
      summary: 'Get top products.'
      operationId: getTopProducts
      description: 'Grouped by SKU, falling back to title for SKU-less line items. Same plan gating as the summary.'
      parameters:
        -
          in: query
          name: range
          description: 'One of `today`, `7d`, `30d`.'
          example: 7d
          required: true
          schema:
            type: string
            description: 'One of `today`, `7d`, `30d`.'
            example: 7d
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    products:
                      -
                        sku: VNT-014
                        title: 'Vintage Denim Jacket'
                        units: 12
                        revenue: 1008.0
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      products:
                        type: array
                        example:
                          - sku: VNT-014
                            title: 'Vintage Denim Jacket'
                            units: 12
                            revenue: 1008
                        items:
                          type: object
                          properties:
                            sku:
                              type: string
                              example: VNT-014
                            title:
                              type: string
                              example: 'Vintage Denim Jacket'
                            units:
                              type: integer
                              example: 12
                            revenue:
                              type: number
                              example: 1008.0
      tags:
        - Analytics
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                range:
                  type: string
                  description: ''
                  example: 30d
                  enum:
                    - today
                    - 7d
                    - 30d
  /api/v1/announcements:
    get:
      summary: 'List active announcements.'
      operationId: listActiveAnnouncements
      description: "In-app banners currently active (within `starts_at`/`ends_at`) and matching the caller's\naudience rules, newest first."
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    announcements:
                      -
                        id: 1
                        title: 'New: order-spike alerts'
                        body: 'Premium now includes order and refund spike alerts.'
                        dismissible: true
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      announcements:
                        type: array
                        example:
                          - id: 1
                            title: 'New: order-spike alerts'
                            body: 'Premium now includes order and refund spike alerts.'
                            dismissible: true
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            title:
                              type: string
                              example: 'New: order-spike alerts'
                            body:
                              type: string
                              example: 'Premium now includes order and refund spike alerts.'
                            dismissible:
                              type: boolean
                              example: true
      tags:
        - Announcements
  '/api/v1/announcements/{announcement_id}/dismiss':
    post:
      summary: 'Dismiss an announcement.'
      operationId: dismissAnAnnouncement
      description: "Per-user — other users targeted by the same announcement are unaffected.\nIdempotent: dismissing twice is not an error."
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Announcement dismissed.'
                  data: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Announcement dismissed.'
                  data:
                    type: string
                    example: null
                    nullable: true
        422:
          description: 'not dismissible'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'The given data was invalid.'
                  errors:
                    announcement:
                      - "This announcement can't be dismissed."
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'The given data was invalid.'
                  errors:
                    type: object
                    properties:
                      announcement:
                        type: array
                        example:
                          - "This announcement can't be dismissed."
                        items:
                          type: string
      tags:
        - Announcements
    parameters:
      -
        in: path
        name: announcement_id
        description: 'The ID of the announcement.'
        example: 16
        required: true
        schema:
          type: integer
  /api/v1/auth/otp/request:
    post:
      summary: 'Request an OTP code.'
      operationId: requestAnOTPCode
      description: "Always returns 200 regardless of whether the email is registered, to avoid account enumeration.\nRate limited (`otp-request`); a fresh code can be requested every 30s."
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'A verification code has been sent if the email is registered.'
                  data: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'A verification code has been sent if the email is registered.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'Auth — OTP'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: gbailey@example.net
              required:
                - email
      security: []
  /api/v1/auth/otp/verify:
    post:
      summary: 'Verify an OTP code.'
      operationId: verifyAnOTPCode
      description: "Returns a Sanctum bearer token on success. `is_new_user` tells the client whether to route\ninto `/profile/setup` next. Rate limited (`otp-verify`); locks out after 5 failed attempts."
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    token: 1|abcdef1234567890
                    is_new_user: false
                    user:
                      id: 1
                      name: 'Jamie Rivera'
                      email: jamie@example.com
                      business_name: 'Rivera Vintage Co'
                      base_currency: AUD
                      timezone: Australia/Sydney
                      sells_on:
                        - woocommerce
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: 1|abcdef1234567890
                      is_new_user:
                        type: boolean
                        example: false
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'Jamie Rivera'
                          email:
                            type: string
                            example: jamie@example.com
                          business_name:
                            type: string
                            example: 'Rivera Vintage Co'
                          base_currency:
                            type: string
                            example: AUD
                          timezone:
                            type: string
                            example: Australia/Sydney
                          sells_on:
                            type: array
                            example:
                              - woocommerce
                            items:
                              type: string
        422:
          description: 'invalid or expired code'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'That code is invalid or has expired.'
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'That code is invalid or has expired.'
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'Auth — OTP'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: gbailey@example.net
                code:
                  type: string
                  description: 'Must be 6 digits.'
                  example: '569775'
              required:
                - email
                - code
      security: []
  /api/v1/profile/setup:
    post:
      summary: 'Complete profile setup.'
      operationId: completeProfileSetup
      description: "One-time step for new users after OTP verification. Creates the user's owning `Team`\n(with the user as `owner`) alongside setting their profile fields."
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    user:
                      id: 1
                      name: 'Jamie Rivera'
                      email: jamie@example.com
                      business_name: 'Rivera Vintage Co'
                      base_currency: AUD
                      timezone: Australia/Sydney
                      sells_on:
                        - woocommerce
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'Jamie Rivera'
                          email:
                            type: string
                            example: jamie@example.com
                          business_name:
                            type: string
                            example: 'Rivera Vintage Co'
                          base_currency:
                            type: string
                            example: AUD
                          timezone:
                            type: string
                            example: Australia/Sydney
                          sells_on:
                            type: array
                            example:
                              - woocommerce
                            items:
                              type: string
      tags:
        - 'Auth — Profile'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
                business_name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'n'
                  nullable: true
                phone:
                  type: string
                  description: 'Must match the regex /^\+[1-9]\d{1,14}$/.'
                  example: '+36'
                  nullable: true
                sells_on:
                  type: array
                  description: ''
                  example:
                    - amazon
                  items:
                    type: string
                    enum:
                      - shopify
                      - woo
                      - ebay
                      - etsy
                      - amazon
                      - tiktok
                timezone:
                  type: string
                  description: ''
                  example: America/Barbados
                  enum:
                    - Africa/Abidjan
                    - Africa/Accra
                    - Africa/Addis_Ababa
                    - Africa/Algiers
                    - Africa/Asmara
                    - Africa/Bamako
                    - Africa/Bangui
                    - Africa/Banjul
                    - Africa/Bissau
                    - Africa/Blantyre
                    - Africa/Brazzaville
                    - Africa/Bujumbura
                    - Africa/Cairo
                    - Africa/Casablanca
                    - Africa/Ceuta
                    - Africa/Conakry
                    - Africa/Dakar
                    - Africa/Dar_es_Salaam
                    - Africa/Djibouti
                    - Africa/Douala
                    - Africa/El_Aaiun
                    - Africa/Freetown
                    - Africa/Gaborone
                    - Africa/Harare
                    - Africa/Johannesburg
                    - Africa/Juba
                    - Africa/Kampala
                    - Africa/Khartoum
                    - Africa/Kigali
                    - Africa/Kinshasa
                    - Africa/Lagos
                    - Africa/Libreville
                    - Africa/Lome
                    - Africa/Luanda
                    - Africa/Lubumbashi
                    - Africa/Lusaka
                    - Africa/Malabo
                    - Africa/Maputo
                    - Africa/Maseru
                    - Africa/Mbabane
                    - Africa/Mogadishu
                    - Africa/Monrovia
                    - Africa/Nairobi
                    - Africa/Ndjamena
                    - Africa/Niamey
                    - Africa/Nouakchott
                    - Africa/Ouagadougou
                    - Africa/Porto-Novo
                    - Africa/Sao_Tome
                    - Africa/Tripoli
                    - Africa/Tunis
                    - Africa/Windhoek
                    - America/Adak
                    - America/Anchorage
                    - America/Anguilla
                    - America/Antigua
                    - America/Araguaina
                    - America/Argentina/Buenos_Aires
                    - America/Argentina/Catamarca
                    - America/Argentina/Cordoba
                    - America/Argentina/Jujuy
                    - America/Argentina/La_Rioja
                    - America/Argentina/Mendoza
                    - America/Argentina/Rio_Gallegos
                    - America/Argentina/Salta
                    - America/Argentina/San_Juan
                    - America/Argentina/San_Luis
                    - America/Argentina/Tucuman
                    - America/Argentina/Ushuaia
                    - America/Aruba
                    - America/Asuncion
                    - America/Atikokan
                    - America/Bahia
                    - America/Bahia_Banderas
                    - America/Barbados
                    - America/Belem
                    - America/Belize
                    - America/Blanc-Sablon
                    - America/Boa_Vista
                    - America/Bogota
                    - America/Boise
                    - America/Cambridge_Bay
                    - America/Campo_Grande
                    - America/Cancun
                    - America/Caracas
                    - America/Cayenne
                    - America/Cayman
                    - America/Chicago
                    - America/Chihuahua
                    - America/Ciudad_Juarez
                    - America/Costa_Rica
                    - America/Coyhaique
                    - America/Creston
                    - America/Cuiaba
                    - America/Curacao
                    - America/Danmarkshavn
                    - America/Dawson
                    - America/Dawson_Creek
                    - America/Denver
                    - America/Detroit
                    - America/Dominica
                    - America/Edmonton
                    - America/Eirunepe
                    - America/El_Salvador
                    - America/Fort_Nelson
                    - America/Fortaleza
                    - America/Glace_Bay
                    - America/Goose_Bay
                    - America/Grand_Turk
                    - America/Grenada
                    - America/Guadeloupe
                    - America/Guatemala
                    - America/Guayaquil
                    - America/Guyana
                    - America/Halifax
                    - America/Havana
                    - America/Hermosillo
                    - America/Indiana/Indianapolis
                    - America/Indiana/Knox
                    - America/Indiana/Marengo
                    - America/Indiana/Petersburg
                    - America/Indiana/Tell_City
                    - America/Indiana/Vevay
                    - America/Indiana/Vincennes
                    - America/Indiana/Winamac
                    - America/Inuvik
                    - America/Iqaluit
                    - America/Jamaica
                    - America/Juneau
                    - America/Kentucky/Louisville
                    - America/Kentucky/Monticello
                    - America/Kralendijk
                    - America/La_Paz
                    - America/Lima
                    - America/Los_Angeles
                    - America/Lower_Princes
                    - America/Maceio
                    - America/Managua
                    - America/Manaus
                    - America/Marigot
                    - America/Martinique
                    - America/Matamoros
                    - America/Mazatlan
                    - America/Menominee
                    - America/Merida
                    - America/Metlakatla
                    - America/Mexico_City
                    - America/Miquelon
                    - America/Moncton
                    - America/Monterrey
                    - America/Montevideo
                    - America/Montserrat
                    - America/Nassau
                    - America/New_York
                    - America/Nome
                    - America/Noronha
                    - America/North_Dakota/Beulah
                    - America/North_Dakota/Center
                    - America/North_Dakota/New_Salem
                    - America/Nuuk
                    - America/Ojinaga
                    - America/Panama
                    - America/Paramaribo
                    - America/Phoenix
                    - America/Port-au-Prince
                    - America/Port_of_Spain
                    - America/Porto_Velho
                    - America/Puerto_Rico
                    - America/Punta_Arenas
                    - America/Rankin_Inlet
                    - America/Recife
                    - America/Regina
                    - America/Resolute
                    - America/Rio_Branco
                    - America/Santarem
                    - America/Santiago
                    - America/Santo_Domingo
                    - America/Sao_Paulo
                    - America/Scoresbysund
                    - America/Sitka
                    - America/St_Barthelemy
                    - America/St_Johns
                    - America/St_Kitts
                    - America/St_Lucia
                    - America/St_Thomas
                    - America/St_Vincent
                    - America/Swift_Current
                    - America/Tegucigalpa
                    - America/Thule
                    - America/Tijuana
                    - America/Toronto
                    - America/Tortola
                    - America/Vancouver
                    - America/Whitehorse
                    - America/Winnipeg
                    - America/Yakutat
                    - Antarctica/Casey
                    - Antarctica/Davis
                    - Antarctica/DumontDUrville
                    - Antarctica/Macquarie
                    - Antarctica/Mawson
                    - Antarctica/McMurdo
                    - Antarctica/Palmer
                    - Antarctica/Rothera
                    - Antarctica/Syowa
                    - Antarctica/Troll
                    - Antarctica/Vostok
                    - Arctic/Longyearbyen
                    - Asia/Aden
                    - Asia/Almaty
                    - Asia/Amman
                    - Asia/Anadyr
                    - Asia/Aqtau
                    - Asia/Aqtobe
                    - Asia/Ashgabat
                    - Asia/Atyrau
                    - Asia/Baghdad
                    - Asia/Bahrain
                    - Asia/Baku
                    - Asia/Bangkok
                    - Asia/Barnaul
                    - Asia/Beirut
                    - Asia/Bishkek
                    - Asia/Brunei
                    - Asia/Chita
                    - Asia/Colombo
                    - Asia/Damascus
                    - Asia/Dhaka
                    - Asia/Dili
                    - Asia/Dubai
                    - Asia/Dushanbe
                    - Asia/Famagusta
                    - Asia/Gaza
                    - Asia/Hebron
                    - Asia/Ho_Chi_Minh
                    - Asia/Hong_Kong
                    - Asia/Hovd
                    - Asia/Irkutsk
                    - Asia/Jakarta
                    - Asia/Jayapura
                    - Asia/Jerusalem
                    - Asia/Kabul
                    - Asia/Kamchatka
                    - Asia/Karachi
                    - Asia/Kathmandu
                    - Asia/Khandyga
                    - Asia/Kolkata
                    - Asia/Krasnoyarsk
                    - Asia/Kuala_Lumpur
                    - Asia/Kuching
                    - Asia/Kuwait
                    - Asia/Macau
                    - Asia/Magadan
                    - Asia/Makassar
                    - Asia/Manila
                    - Asia/Muscat
                    - Asia/Nicosia
                    - Asia/Novokuznetsk
                    - Asia/Novosibirsk
                    - Asia/Omsk
                    - Asia/Oral
                    - Asia/Phnom_Penh
                    - Asia/Pontianak
                    - Asia/Pyongyang
                    - Asia/Qatar
                    - Asia/Qostanay
                    - Asia/Qyzylorda
                    - Asia/Riyadh
                    - Asia/Sakhalin
                    - Asia/Samarkand
                    - Asia/Seoul
                    - Asia/Shanghai
                    - Asia/Singapore
                    - Asia/Srednekolymsk
                    - Asia/Taipei
                    - Asia/Tashkent
                    - Asia/Tbilisi
                    - Asia/Tehran
                    - Asia/Thimphu
                    - Asia/Tokyo
                    - Asia/Tomsk
                    - Asia/Ulaanbaatar
                    - Asia/Urumqi
                    - Asia/Ust-Nera
                    - Asia/Vientiane
                    - Asia/Vladivostok
                    - Asia/Yakutsk
                    - Asia/Yangon
                    - Asia/Yekaterinburg
                    - Asia/Yerevan
                    - Atlantic/Azores
                    - Atlantic/Bermuda
                    - Atlantic/Canary
                    - Atlantic/Cape_Verde
                    - Atlantic/Faroe
                    - Atlantic/Madeira
                    - Atlantic/Reykjavik
                    - Atlantic/South_Georgia
                    - Atlantic/St_Helena
                    - Atlantic/Stanley
                    - Australia/Adelaide
                    - Australia/Brisbane
                    - Australia/Broken_Hill
                    - Australia/Darwin
                    - Australia/Eucla
                    - Australia/Hobart
                    - Australia/Lindeman
                    - Australia/Lord_Howe
                    - Australia/Melbourne
                    - Australia/Perth
                    - Australia/Sydney
                    - Europe/Amsterdam
                    - Europe/Andorra
                    - Europe/Astrakhan
                    - Europe/Athens
                    - Europe/Belgrade
                    - Europe/Berlin
                    - Europe/Bratislava
                    - Europe/Brussels
                    - Europe/Bucharest
                    - Europe/Budapest
                    - Europe/Busingen
                    - Europe/Chisinau
                    - Europe/Copenhagen
                    - Europe/Dublin
                    - Europe/Gibraltar
                    - Europe/Guernsey
                    - Europe/Helsinki
                    - Europe/Isle_of_Man
                    - Europe/Istanbul
                    - Europe/Jersey
                    - Europe/Kaliningrad
                    - Europe/Kirov
                    - Europe/Kyiv
                    - Europe/Lisbon
                    - Europe/Ljubljana
                    - Europe/London
                    - Europe/Luxembourg
                    - Europe/Madrid
                    - Europe/Malta
                    - Europe/Mariehamn
                    - Europe/Minsk
                    - Europe/Monaco
                    - Europe/Moscow
                    - Europe/Oslo
                    - Europe/Paris
                    - Europe/Podgorica
                    - Europe/Prague
                    - Europe/Riga
                    - Europe/Rome
                    - Europe/Samara
                    - Europe/San_Marino
                    - Europe/Sarajevo
                    - Europe/Saratov
                    - Europe/Simferopol
                    - Europe/Skopje
                    - Europe/Sofia
                    - Europe/Stockholm
                    - Europe/Tallinn
                    - Europe/Tirane
                    - Europe/Ulyanovsk
                    - Europe/Vaduz
                    - Europe/Vatican
                    - Europe/Vienna
                    - Europe/Vilnius
                    - Europe/Volgograd
                    - Europe/Warsaw
                    - Europe/Zagreb
                    - Europe/Zurich
                    - Indian/Antananarivo
                    - Indian/Chagos
                    - Indian/Christmas
                    - Indian/Cocos
                    - Indian/Comoro
                    - Indian/Kerguelen
                    - Indian/Mahe
                    - Indian/Maldives
                    - Indian/Mauritius
                    - Indian/Mayotte
                    - Indian/Reunion
                    - Pacific/Apia
                    - Pacific/Auckland
                    - Pacific/Bougainville
                    - Pacific/Chatham
                    - Pacific/Chuuk
                    - Pacific/Easter
                    - Pacific/Efate
                    - Pacific/Fakaofo
                    - Pacific/Fiji
                    - Pacific/Funafuti
                    - Pacific/Galapagos
                    - Pacific/Gambier
                    - Pacific/Guadalcanal
                    - Pacific/Guam
                    - Pacific/Honolulu
                    - Pacific/Kanton
                    - Pacific/Kiritimati
                    - Pacific/Kosrae
                    - Pacific/Kwajalein
                    - Pacific/Majuro
                    - Pacific/Marquesas
                    - Pacific/Midway
                    - Pacific/Nauru
                    - Pacific/Niue
                    - Pacific/Norfolk
                    - Pacific/Noumea
                    - Pacific/Pago_Pago
                    - Pacific/Palau
                    - Pacific/Pitcairn
                    - Pacific/Pohnpei
                    - Pacific/Port_Moresby
                    - Pacific/Rarotonga
                    - Pacific/Saipan
                    - Pacific/Tahiti
                    - Pacific/Tarawa
                    - Pacific/Tongatapu
                    - Pacific/Wake
                    - Pacific/Wallis
                    - UTC
                  nullable: true
                base_currency:
                  type: string
                  description: 'Must be 3 characters.'
                  example: iyv
                  nullable: true
              required:
                - name
  /api/v1/auth/logout:
    post:
      summary: 'Log out.'
      operationId: logOut
      description: 'Revokes the bearer token used for this request only.'
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Logged out.'
                  data: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Logged out.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'Auth — Session'
  /api/v1/auth/logout-all:
    post:
      summary: 'Log out of all devices.'
      operationId: logOutOfAllDevices
      description: 'Revokes every Sanctum token for the user, not just the current one.'
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Logged out of all devices.'
                  data: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Logged out of all devices.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - 'Auth — Session'
  /api/v1/config:
    get:
      summary: 'Get remote config.'
      operationId: getRemoteConfig
      description: ''
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    min_version: 1.2.0
                    maintenance_mode: false
                    maintenance_banner: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      min_version:
                        type: string
                        example: 1.2.0
                      maintenance_mode:
                        type: boolean
                        example: false
                      maintenance_banner:
                        type: string
                        example: null
                        nullable: true
      tags:
        - Config
      security: []
  '/api/v1/connections/{platform}/start':
    post:
      summary: 'Start connecting a store.'
      operationId: startConnectingAStore
      description: "`credentials` shape depends on `platform`: WooCommerce expects `{store_url, consumer_key,\nconsumer_secret}` (key-intake, connects immediately). Shopify expects `{shop_domain}`.\neBay/Etsy expect no credentials at all. Amazon is still pending adapter approval.\nOAuth platforms (Shopify/eBay/Etsy) don't connect immediately — this returns an\n`authorization_url` to open in an in-app browser; the connection itself is created once\nthe merchant approves and the platform redirects back to our callback."
      parameters: []
      responses:
        200:
          description: 'shopify/ebay/etsy — OAuth redirect'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    authorization_url: 'https://my-shop.myshopify.com/admin/oauth/authorize?client_id=...'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      authorization_url:
                        type: string
                        example: 'https://my-shop.myshopify.com/admin/oauth/authorize?client_id=...'
        201:
          description: 'woo — connects immediately'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    connection:
                      id: 1
                      platform: woo
                      name: 'Rivera Vintage Co'
                      status: active
                      last_sync_at: null
                      webhook_status: registered
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      connection:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          platform:
                            type: string
                            example: woo
                          name:
                            type: string
                            example: 'Rivera Vintage Co'
                          status:
                            type: string
                            example: active
                          last_sync_at:
                            type: string
                            example: null
                            nullable: true
                          webhook_status:
                            type: string
                            example: registered
        422:
          description: 'profile setup incomplete'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Complete profile setup before connecting a store.'
                  errors: null
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Complete profile setup before connecting a store.'
                  errors:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Connections
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
                credentials:
                  type: object
                  description: ''
                  example: null
                  properties: {}
              required:
                - name
    parameters:
      -
        in: path
        name: platform
        description: 'One of `shopify`, `woo`, `ebay`, `etsy`, `amazon`, `tiktok`.'
        example: woo
        required: true
        schema:
          type: string
  /api/v1/connections:
    get:
      summary: 'List connections.'
      operationId: listConnections
      description: ''
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    connections:
                      -
                        id: 1
                        platform: woo
                        name: 'Rivera Vintage Co'
                        status: active
                        last_sync_at: '2026-07-16T01:45:00.000000Z'
                        webhook_status: registered
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      connections:
                        type: array
                        example:
                          - id: 1
                            platform: woo
                            name: 'Rivera Vintage Co'
                            status: active
                            last_sync_at: '2026-07-16T01:45:00.000000Z'
                            webhook_status: registered
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            platform:
                              type: string
                              example: woo
                            name:
                              type: string
                              example: 'Rivera Vintage Co'
                            status:
                              type: string
                              example: active
                            last_sync_at:
                              type: string
                              example: '2026-07-16T01:45:00.000000Z'
                            webhook_status:
                              type: string
                              example: registered
      tags:
        - Connections
  '/api/v1/connections/{connection_id}/health':
    get:
      summary: 'Get connection health.'
      operationId: getConnectionHealth
      description: "Plain-language status for the connection-health screen — never raw error codes.\n`fix_action` is a key the client maps to a concrete flow (e.g. `reauth`), not a URL."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: healthy
                    type: object
                    example:
                      success: true
                      message: null
                      data:
                        connection_id: 1
                        status: active
                        webhook_status: registered
                        last_sync_at: '2026-07-16T01:45:00+00:00'
                        message: 'Rivera Vintage Co is connected and syncing normally.'
                        fix_action: null
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: null
                        nullable: true
                      data:
                        type: object
                        properties:
                          connection_id:
                            type: integer
                            example: 1
                          status:
                            type: string
                            example: active
                          webhook_status:
                            type: string
                            example: registered
                          last_sync_at:
                            type: string
                            example: '2026-07-16T01:45:00+00:00'
                          message:
                            type: string
                            example: 'Rivera Vintage Co is connected and syncing normally.'
                          fix_action:
                            type: string
                            example: null
                            nullable: true
                  -
                    description: 'needs reauth'
                    type: object
                    example:
                      success: true
                      message: null
                      data:
                        connection_id: 1
                        status: needs_reauth
                        webhook_status: registered
                        last_sync_at: '2026-07-15T20:00:00+00:00'
                        message: 'Your connection to Rivera Vintage Co needs to be reconnected.'
                        fix_action: reauth
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: null
                        nullable: true
                      data:
                        type: object
                        properties:
                          connection_id:
                            type: integer
                            example: 1
                          status:
                            type: string
                            example: needs_reauth
                          webhook_status:
                            type: string
                            example: registered
                          last_sync_at:
                            type: string
                            example: '2026-07-15T20:00:00+00:00'
                          message:
                            type: string
                            example: 'Your connection to Rivera Vintage Co needs to be reconnected.'
                          fix_action:
                            type: string
                            example: reauth
      tags:
        - Connections
    parameters:
      -
        in: path
        name: connection_id
        description: 'The ID of the connection.'
        example: 3
        required: true
        schema:
          type: integer
  '/api/v1/connections/{id}':
    delete:
      summary: 'Disconnect a store.'
      operationId: disconnectAStore
      description: ''
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Store disconnected.'
                  data: null
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Store disconnected.'
                  data:
                    type: string
                    example: null
                    nullable: true
      tags:
        - Connections
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the connection.'
        example: 3
        required: true
        schema:
          type: integer
  /api/v1/devices:
    post:
      summary: 'Register a push device.'
      operationId: registerAPushDevice
      description: "Upserts the device's push token so the backend can deliver notifications to it."
      parameters: []
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    device:
                      id: 1
                      platform: ios
                      last_seen_at: '2026-07-16T02:00:00.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      device:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          platform:
                            type: string
                            example: ios
                          last_seen_at:
                            type: string
                            example: '2026-07-16T02:00:00.000000Z'
      tags:
        - Devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
                  description: ''
                  example: ios
                  enum:
                    - ios
                    - android
                push_token:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
              required:
                - platform
                - push_token
  /api/v1/threads:
    get:
      summary: 'List threads.'
      operationId: listThreads
      description: ''
      parameters:
        -
          in: query
          name: assigned_to
          description: 'Filter to threads assigned to this user id.'
          example: 3
          required: false
          schema:
            type: integer
            description: 'Filter to threads assigned to this user id.'
            example: 3
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    threads:
                      -
                        id: 1
                        channel: woo
                        customer_name: 'Alex Chen'
                        customer_email: alex@example.com
                        order_id: 1
                        order_number: '#1042'
                        assigned_to: null
                        last_message_at: '2026-07-17T01:00:00.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      threads:
                        type: array
                        example:
                          - id: 1
                            channel: woo
                            customer_name: 'Alex Chen'
                            customer_email: alex@example.com
                            order_id: 1
                            order_number: '#1042'
                            assigned_to: null
                            last_message_at: '2026-07-17T01:00:00.000000Z'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            channel:
                              type: string
                              example: woo
                            customer_name:
                              type: string
                              example: 'Alex Chen'
                            customer_email:
                              type: string
                              example: alex@example.com
                            order_id:
                              type: integer
                              example: 1
                            order_number:
                              type: string
                              example: '#1042'
                            assigned_to:
                              type: string
                              example: null
                              nullable: true
                            last_message_at:
                              type: string
                              example: '2026-07-17T01:00:00.000000Z'
      tags:
        - Inbox
  '/api/v1/threads/{thread_id}/messages':
    get:
      summary: "List a thread's messages."
      operationId: listAThreadsMessages
      description: ''
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    messages:
                      -
                        id: 1
                        direction: in
                        body: "Where's my order?"
                        status: delivered
                        created_at: '2026-07-17T01:00:00.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      messages:
                        type: array
                        example:
                          - id: 1
                            direction: in
                            body: "Where's my order?"
                            status: delivered
                            created_at: '2026-07-17T01:00:00.000000Z'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            direction:
                              type: string
                              example: in
                            body:
                              type: string
                              example: "Where's my order?"
                            status:
                              type: string
                              example: delivered
                            created_at:
                              type: string
                              example: '2026-07-17T01:00:00.000000Z'
      tags:
        - Inbox
    post:
      summary: 'Send a message.'
      operationId: sendAMessage
      description: "Pass either `body` (free text) or `reply_template_id` (a saved template, rendered\nserver-side with the thread's `{customer_name}`/`{order_number}`/`{tracking}`)."
      parameters: []
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    message:
                      id: 2
                      direction: out
                      body: 'It shipped yesterday!'
                      status: sent
                      created_at: '2026-07-17T01:05:00.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      message:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 2
                          direction:
                            type: string
                            example: out
                          body:
                            type: string
                            example: 'It shipped yesterday!'
                          status:
                            type: string
                            example: sent
                          created_at:
                            type: string
                            example: '2026-07-17T01:05:00.000000Z'
      tags:
        - Inbox
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: 'This field is required when <code>reply_template_id</code> is not present. Must not be greater than 4000 characters.'
                  example: b
                  nullable: true
                reply_template_id:
                  type: integer
                  description: 'Must match an existing stored value.'
                  example: 16
                  nullable: true
    parameters:
      -
        in: path
        name: thread_id
        description: 'The ID of the thread.'
        example: 16
        required: true
        schema:
          type: integer
  '/api/v1/threads/{thread_id}/assign':
    post:
      summary: 'Assign (or unassign) a thread to a team member.'
      operationId: assignorUnassignAThreadToATeamMember
      description: ''
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    thread:
                      id: 1
                      channel: woo
                      customer_name: 'Alex Chen'
                      customer_email: alex@example.com
                      order_id: 1
                      order_number: '#1042'
                      assigned_to: 3
                      last_message_at: '2026-07-17T01:00:00.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      thread:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          channel:
                            type: string
                            example: woo
                          customer_name:
                            type: string
                            example: 'Alex Chen'
                          customer_email:
                            type: string
                            example: alex@example.com
                          order_id:
                            type: integer
                            example: 1
                          order_number:
                            type: string
                            example: '#1042'
                          assigned_to:
                            type: integer
                            example: 3
                          last_message_at:
                            type: string
                            example: '2026-07-17T01:00:00.000000Z'
      tags:
        - Inbox
    parameters:
      -
        in: path
        name: thread_id
        description: 'The ID of the thread.'
        example: 16
        required: true
        schema:
          type: integer
  /api/v1/reply-templates:
    get:
      summary: 'List saved reply templates.'
      operationId: listSavedReplyTemplates
      description: ''
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    templates:
                      -
                        id: 1
                        name: Shipped
                        body_with_variables: 'Hi {customer_name}, order {order_number} shipped! Tracking: {tracking}'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      templates:
                        type: array
                        example:
                          - id: 1
                            name: Shipped
                            body_with_variables: 'Hi {customer_name}, order {order_number} shipped! Tracking: {tracking}'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: Shipped
                            body_with_variables:
                              type: string
                              example: 'Hi {customer_name}, order {order_number} shipped! Tracking: {tracking}'
      tags:
        - Inbox
    post:
      summary: 'Create a reply template.'
      operationId: createAReplyTemplate
      description: ''
      parameters: []
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    template:
                      id: 2
                      name: Delay
                      body_with_variables: 'Hi {customer_name}, order {order_number} is running a little late.'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      template:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 2
                          name:
                            type: string
                            example: Delay
                          body_with_variables:
                            type: string
                            example: 'Hi {customer_name}, order {order_number} is running a little late.'
      tags:
        - Inbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
                body_with_variables:
                  type: string
                  description: 'Must not be greater than 4000 characters.'
                  example: 'n'
              required:
                - name
                - body_with_variables
  '/api/v1/reply-templates/{replyTemplate_id}':
    put:
      summary: ''
      operationId: putApiV1ReplyTemplatesReplyTemplate_id
      description: ''
      parameters: []
      responses: {}
      tags:
        - Inbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
                body_with_variables:
                  type: string
                  description: 'Must not be greater than 4000 characters.'
                  example: 'n'
              required:
                - name
                - body_with_variables
    delete:
      summary: ''
      operationId: deleteApiV1ReplyTemplatesReplyTemplate_id
      description: ''
      parameters: []
      responses: {}
      tags:
        - Inbox
    parameters:
      -
        in: path
        name: replyTemplate_id
        description: 'The ID of the replyTemplate.'
        example: 16
        required: true
        schema:
          type: integer
  /api/v1/me:
    get:
      summary: 'Get the current user.'
      operationId: getTheCurrentUser
      description: "Combines profile, current team/role, plan entitlements, SMS credit balance,\nresolved feature flags, the active SMS top-up pack catalog, and active\npaywall/content copy blocks — the client's single call after launch/login.\n`needs_profile_setup` is true until `/profile/setup` has been completed."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'profile setup complete'
                    type: object
                    example:
                      success: true
                      message: null
                      data:
                        user:
                          id: 1
                          name: 'Jamie Rivera'
                          email: jamie@example.com
                          business_name: 'Rivera Vintage Co'
                          base_currency: AUD
                          timezone: Australia/Sydney
                          sells_on:
                            - woocommerce
                        team:
                          id: 1
                          name: 'Rivera Vintage Co'
                          role: owner
                        entitlements:
                          plan: pro
                          history_days: 90
                          sms_balance: 42
                          ai_questions_remaining: 148
                        feature_flags:
                          new_rules_ui: true
                        sms_topup_packs:
                          -
                            key: sms_100
                            name: '100 SMS'
                            sms_credits: 100
                            price_usd: '2.99'
                        ai_topup_packs:
                          -
                            key: ai_50
                            name: '50 AI questions'
                            ai_questions: 50
                            price_usd: '4.99'
                        content:
                          paywall_pro_headline: ...
                        needs_profile_setup: false
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: null
                        nullable: true
                      data:
                        type: object
                        properties:
                          user:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 1
                              name:
                                type: string
                                example: 'Jamie Rivera'
                              email:
                                type: string
                                example: jamie@example.com
                              business_name:
                                type: string
                                example: 'Rivera Vintage Co'
                              base_currency:
                                type: string
                                example: AUD
                              timezone:
                                type: string
                                example: Australia/Sydney
                              sells_on:
                                type: array
                                example:
                                  - woocommerce
                                items:
                                  type: string
                          team:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 1
                              name:
                                type: string
                                example: 'Rivera Vintage Co'
                              role:
                                type: string
                                example: owner
                          entitlements:
                            type: object
                            properties:
                              plan:
                                type: string
                                example: pro
                              history_days:
                                type: integer
                                example: 90
                              sms_balance:
                                type: integer
                                example: 42
                              ai_questions_remaining:
                                type: integer
                                example: 148
                          feature_flags:
                            type: object
                            properties:
                              new_rules_ui:
                                type: boolean
                                example: true
                          sms_topup_packs:
                            type: array
                            example:
                              - key: sms_100
                                name: '100 SMS'
                                sms_credits: 100
                                price_usd: '2.99'
                            items:
                              type: object
                              properties:
                                key:
                                  type: string
                                  example: sms_100
                                name:
                                  type: string
                                  example: '100 SMS'
                                sms_credits:
                                  type: integer
                                  example: 100
                                price_usd:
                                  type: string
                                  example: '2.99'
                          ai_topup_packs:
                            type: array
                            example:
                              - key: ai_50
                                name: '50 AI questions'
                                ai_questions: 50
                                price_usd: '4.99'
                            items:
                              type: object
                              properties:
                                key:
                                  type: string
                                  example: ai_50
                                name:
                                  type: string
                                  example: '50 AI questions'
                                ai_questions:
                                  type: integer
                                  example: 50
                                price_usd:
                                  type: string
                                  example: '4.99'
                          content:
                            type: object
                            properties:
                              paywall_pro_headline:
                                type: string
                                example: ...
                          needs_profile_setup:
                            type: boolean
                            example: false
                  -
                    description: 'profile setup pending'
                    type: object
                    example:
                      success: true
                      message: null
                      data:
                        user:
                          id: 1
                          name: 'Jamie Rivera'
                          email: jamie@example.com
                          business_name: null
                          base_currency: null
                          timezone: null
                          sells_on: null
                        team: null
                        entitlements: null
                        feature_flags: null
                        sms_topup_packs: []
                        ai_topup_packs: []
                        content: {}
                        needs_profile_setup: true
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: null
                        nullable: true
                      data:
                        type: object
                        properties:
                          user:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 1
                              name:
                                type: string
                                example: 'Jamie Rivera'
                              email:
                                type: string
                                example: jamie@example.com
                              business_name:
                                type: string
                                example: null
                                nullable: true
                              base_currency:
                                type: string
                                example: null
                                nullable: true
                              timezone:
                                type: string
                                example: null
                                nullable: true
                              sells_on:
                                type: string
                                example: null
                                nullable: true
                          team:
                            type: string
                            example: null
                            nullable: true
                          entitlements:
                            type: string
                            example: null
                            nullable: true
                          feature_flags:
                            type: string
                            example: null
                            nullable: true
                          sms_topup_packs:
                            type: array
                            example: []
                          ai_topup_packs:
                            type: array
                            example: []
                          content:
                            type: object
                            properties: {}
                          needs_profile_setup:
                            type: boolean
                            example: true
      tags:
        - Me
  /api/v1/notifications:
    get:
      summary: 'List notifications.'
      operationId: listNotifications
      description: 'Most recent 50, newest first.'
      parameters: []
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: null
                  data:
                    notifications:
                      -
                        id: 1
                        type: rule_fired
                        title: 'High-value order'
                        body: 'Order #1042 — $84.00'
                        data:
                          order_id: 1
                          rule_id: 1
                        read_at: null
                        created_at: '2026-07-16T01:00:00.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  data:
                    type: object
                    properties:
                      notifications:
                        type: array
                        example:
                          -
                            id: 1
                            type: rule_fired
                            title: 'High-value order'
                            body: 'Order #1042 — $84.00'
                            data:
                              order_id: 1
                              rule_id: 1
                            read_at: null
                            created_at: '2026-07-16T01:00:00.000000Z'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            type:
                              type: string
                              example: rule_fired
                            title:
                              type: string
                              example: 'High-value order'
                            body:
                              type: string
                              example: 'Order #1042 — $84.00'
                            data:
                              type: object
                              properties:
                                order_id:
                                  type: integer
                                  example: 1
                                rule_id:
[...]
